body{
  background: url(../images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
   
   padding-top:70px;
}